.catalog-tabs {
    display: flex;
    flex-direction: row;
    height: 30px;
    gap: 10px;
    background-color: rgb(31 41 55 / 0.64);
    padding: 10px;
    justify-content: flex-start;
    position: sticky;
    align-items: center;
    top: 70px;

    position: sticky;
    top: 70px;
    z-index: 1000;
}

.left-catalog-tabs {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    padding: 10px;
    text-decoration-style: unset;
    list-style-type: none;
}

.li-header-my {
    padding: 5px;
    margin-right: 10px;
    font-size: 14px;
    color: white;
    font-family: Lato, sans-serif;
    font-size: 12px;
}

.catalog-content {
    flex: 1;
}

.cat-buttons-toolbar {
    position: sticky;
    top: 100px;
    z-index: 900;
    background: #878181;
    border-bottom: 1px solid #e8eaed;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 10px 16px;
}

.catalog-page {
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.catalog-content {
    flex: 1;
    min-height: 0;
}

.modal-input.input-error {
    border-color: red;
}

.modal-input.input-error:focus {
    border-color: red;
    outline: none;
}

