html, body, #root {
  margin: 0;
  padding: 0;
  color: #404040;
  font-size: 12px;
  /* line-height: 17px; */
  font-weight: 400;
  font-family: helvetica, "Helvetica Neue", "Open Sans", arial, verdana,
  sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-container {
  margin: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  font-size: 12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
