* {
    pointer-events: auto !important;
}

.th-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.th-modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 600px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.th-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.th-modal-close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-button {
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-radius: 4px;
}

.modal-button:hover {
    background-color: #e0e0e0;
}

.modal-body {
    margin-bottom: 1rem;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.th-modal-content h6 {
  margin-top: 0;
  margin-bottom: 15px;
}

.th-modal-content form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.th-modal-content input {
  padding: 8px;
  font-size: 12px;
  /*width: 100% !important;*/
}

.th-modal-content select {
  padding: 8px;
  font-size: 12px;
  width: 100% !important;
  border-radius: 0px;
  background-color: white;
  border: lightgray solid 1px;
}

.modal-input {
  font-size: 10px !important;
  margin: 0em 0em !important;
  width: 100% !important;
  padding: 0px;
}